# Ignore Visual Studio temporary files, build results, and
# folder config files
[vV]isual[Ss]tudio/
*.user
*.userosscache
*.sln.docstates
.vs/
ipch/
*.opensdf
*.sdf
*.cachefile
*.log
*.tlog
*.lastcodeanalysissucceeded
*.unsuccessfulbuild
